<launch>
  <arg name="model" default="burger"/> <!--waffle alternatively -->
  <arg name="x_pos" default="-4.0"/>
  <arg name="y_pos" default="4.5"/>
  <arg name="z_pos" default="0.0"/>
  <!-- We can use the modified (and unrealistic) version of turtlebot for mapping or the original one-->
  <arg name="robot_description_location" default="$(env PWD)/turtlebot3_$(arg model).urdf.xacro"/>
  <!--
  <arg name="robot_description_location" default="$(env turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
  -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(env PWD)/../small_environment.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(arg robot_description_location)" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>
